<footer id="footer" class="footer">
    <div class="footer__inner">
        <div class="footer__inner-content  clearfix">
            <div class="footer__container">
                <nav class="footer__block">
                    <h2>Blibli.com</h2>
                    <ul class="footer__menu">
                        <li class="footer__item">
                            <a class="footer__link" href="https://www.blibli.com/panduan-belanja#hash-side-tentangBlibli?utm_source=engineering" target="_blank">Tentang Kami</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="https://www.blibli.com/page/karir/?utm_source=engineering" target="_blank">Karir</a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer__block">
                    <h2>Bantuan</h2>
                    <ul class="footer__menu">
                        <li class="footer__item">
                            <a class="footer__link" href="https://www.blibli.com/panduan-belanja#hash-side-pembayaran?utm_source=engineering" target="_blank">Pembayaran</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="https://www.blibli.com/panduan-belanja#hash-side-cekStatusOrder?utm_source=engineering" target="_blank">Status Pesanan</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="https://www.blibli.com/panduan-belanja?utm_source=engineering" target="_blank">Syarat &amp; Ketentuan</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="https://www.blibli.com/panduan-belanja#hash-side-blibliRewards?utm_source=engineering" target="_blank">Blibli Rewards</a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer__block">
                    <h2>Website Kami</h2>
                    <ul class="footer__menu">
                        <li class="footer__item">
                            <a class="footer__link" href="https://www.blibli.com/?utm_source=engineering" target="_blank">Blibli.com</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="https://www.blibli.com/travel?utm_source=engineering" target="_blank">Blibli.com Travel</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="https://www.blibli.com/pulsa?utm_source=engineering" target="_blank">Blibli.com Pulsa</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="http://www.blibli.com/friends/?utm_source=engineering" target="_blank">Blog Blibli Friends</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="https://bliblidotcom.github.io/?utm_source=engineering" target="_blank">Blog Blibli.com Engineering</a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer__block is--cs">
                    <h2>Customer Care</h2>
                    <div class="footer__address">
                        <p>Buka 24 Jam setiap hari</p>
                        <p><span class="bli-cc-call"></span> 0804 1 871 871</p>
                        <p><span class="bli-cc-email"></span> customer.care@blibli.com</p>
                    </div>
                </nav>
                <nav class="footer__block footer__block--app">
                    <h2>Unduh Aplikasi</h2>

                    <a class="footer__link" href="https://itunes.apple.com/id/app/blibli.com/id1034231507?l=id&mt=8" target="_blank"><img src="/assets/images/ic_app_store.jpg"/></a>

                    <a class="footer__link" href="https://play.google.com/store/apps/details?id=blibli.mobile.commerce" target="_blank"><img src="/assets/images/ic_google_play.png"/></a>

                    <a class="footer__link" href="https://www.microsoft.com/en-us/store/apps/blibli/9nblggh58vll" target="_blank"><img src="/assets/images/ic_windows_phone.png"/></a>

                </nav>
            </div>
        </div>
    </div>
    <div class="footer__bottom clearfix">
        <nav class="footer__block footer__block--socmed">
            <h2>Ikuti Kami di Sosial Media</h2>
            <ul class="footer__menu footer__menu--inline">

                {% for sosial in site.data.sosial_media %}
                    <li class="footer__item">
                        <a rel="nofollow" title="{{ sosial.media }}" 
                            target="_blank" href="{{ sosial.href }}" 
                            class="footer__icon {{ sosial.custom_class }}">
                            <i class="{{ sosial.icon }}"></i>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </nav>
    </div>
    <div class="footer__info clearfix">
        <span>Copyright © 2011-<span class="footer__current-year">2017</span> Blibli.com, All Rights Reserved.</span>
    </div>
</footer>
