html {
    @include box-sizing(border-box);
    font-size: 62.5%;
    color: $black;
  	-ms-overflow-style: scrollbar;
  	-webkit-tap-highlight-color: transparent;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', sans-serif;
    background-image: url(/assets/images/bg_pattern.png);
    background-position: center top;
    background-attachment: fixed;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover, &:focus{
  		text-decoration: underline;
  }
}

code, kbd, pre, samp {
    background-color: $grey-lighter;
    padding: .1em .5em;
    border-radius: .1em;
}

blockquote{
  padding: 10px;
  margin: 0 0 20px;
  font-size: 1.6rem;
  border-left: 5px solid #eee;
}

textarea {
   resize: none;
}
